.nav {
  background-color: #f9f9fa;
  padding: 20px 50px;
  border-top: 1px solid rgba(195, 195, 195, 0.5);
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  position: relative;
  color: #2e363e;
}
.nav__notification {
  position: absolute;
  left: 15px;
  bottom: 10px;
}
.nav__info {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  left: 20px;
  bottom: 18px;
}
